.subcontent {
  padding-top: 120px;
  padding-bottom: 80px;

  & p {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 164%;
    text-align: center;
    text-transform: uppercase;
    color: $secondary;

    & span {
      font-weight: 700;
    }
  }
}
